<html>

<head>
  <title>Books</title>
  <script defer src="<%= bundle %>"></script>
  <link href="<%= styles %>" rel="stylesheet">
</head>


<body>
  <div id="root">
    <%-app%>
  </div>
</body>

</html>